<div class="container mt-3">
  <form (ngSubmit)="submit()" class="row">
    <div class="col-6 d-flex flex-column m-auto">
      <p class="h2">Iniciar sesión</p>

      <mat-form-field>
        <mat-label>Escribe tu nombre de usuario</mat-label>
        <input
          type="text"
          matInput
          required
          [(ngModel)]="username"
          name="username"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Escribe tu contraseña</mat-label>
        <input
          matInput
          type="password"
          required
          [(ngModel)]="password"
          name="password"
        />
      </mat-form-field>

      <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary">Entrar</button>
      </div>

      <div *ngIf="error" class="alert alert-danger mt-3">
        {{ error }}
      </div>
    </div>
  </form>
</div>
