<h1 mat-dialog-title>Productos</h1>
<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>Selecciona el producto</mat-label>
    <mat-select [(ngModel)]="producto">
      <mat-option *ngFor="let prod of productos" [value]="prod">
        {{ prod.Nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="producto">
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" min="1" [(ngModel)]="cantidad">
  </mat-form-field>

  <div *ngIf="producto" class="d-flex justify-content-between">
    <p>Unidad: {{ producto.Medida }} </p>
    <p>Existencia: {{ producto.Cantidad }} </p>
  </div>

</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button (click)="onNoClick()" color="warn">Cancelar</button>
  <button mat-button (click)="submit()" [disabled]="!producto || !cantidad || cantidad <= 0" color="primary">Ok</button>
</div>
