<mat-card>
  <mat-card-content>
    <div class="container mt-5">
      <h1><span class="text-purple">¿Quiénes somos?</span></h1>
      <p>
        Todos nuestros productos son de alta calidad y están hechos con materiales
        suaves y seguros para brindar momentos especiales. Además, ofrecemos envío
        rápido y seguro a cualquier lugar del mundo, y tenemos excelentes precios
        para que puedas encontrar el regalo perfecto sin gastar mucho. ¡Explora
        nuestra tienda en línea ahora y encuentra el regalo ideal para ti o para
        alguien especial!
      </p>
      <p><strong>Lema:</strong> "Un regalo para cada ocasión"</p>
    
      <h2><span class="text-purple">Valores</span></h2>
      <ul>
        <li>
          <strong>Calidad:</strong> Nos comprometemos a ofrecer productos de la más
          alta calidad para garantizar la satisfacción de nuestros clientes.
        </li>
        <li>
          <strong>Honestidad:</strong> Trabajamos con transparencia y ética en todas
          nuestras operaciones, manteniendo una comunicación clara y efectiva con
          nuestros clientes.
        </li>
        <li>
          <strong>Servicio al cliente:</strong> Estamos comprometidos en brindar una
          experiencia de compra excepcional, atendiendo las necesidades de nuestros
          clientes de manera oportuna y eficiente.
        </li>
        <li>
          <strong>Creatividad:</strong> Fomentamos la innovación y la creatividad en
          todos los aspectos de nuestra empresa, para ofrecer productos y servicios
          únicos y diferenciados en el mercado.
        </li>
      </ul>
    
      <p>
        <strong>Misión:</strong> Ser la empresa líder en la venta en línea de
        regalos, brindando a nuestros clientes una experiencia de compra única y
        personalizada, con productos de la más alta calidad y al mejor precio del
        mercado.
      </p>
    
      <p>
        <strong>Visión:</strong> Ser reconocidos como la tienda en línea de regalos
        más confiable, innovadora y con la mayor variedad de productos, generando
        vínculos emocionales con nuestros clientes a través de nuestros productos y
        servicios.
      </p>
    </div>
    
  </mat-card-content>
</mat-card>