mat-card{
  margin: 2%;
  text-align: left;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50{
  width: 48%;
  margin: 1%;
}

button{
  margin: 2px;
}

.subtitulo{
  text-align: center;
  color: #120b0b;
  font-size: 2rem; /* Tamaño de la fuente muy grande (ajusta según lo que desees) */
  font-weight: bold; /* Fuente en negrita */
  margin-top: 20px; 
  padding-bottom: 1%;
  /* font: oblique bold 300% cursive; */
  font-family: fantasy;


}